<% content_for :title, 'News for Me' %>

<div class="hero-unit hero-unit-header">
  <div class="container">
    <h1>News for You</h1>
    <p>Tech news for topics you care about.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="well well-large">
        <h4>Let's get started...</h4>
        <p>
          To begin reading tech articles, click the <b>Subscribe</b> button
          and choose categories that interest you.
        </p>
        <p>
          <a class="btn btn-success" href="<%= news_subscriptions_path %>">
            Subscribe
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
