<% content_for :title, 'Home' %>

<div class="landing-intro">
  <div class="row-fluid">
    <div class="span6 offset3">
      <div class="landing-intro-copy">
        <h2 class="landing-intro-title">
          News Reader
        </h2>

        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
          lectus. Sed sit amet ipsum mauris.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container push30">
  <div class="row push-down">
    <div class="span6">
      <div class="landing-portal text-center push30">
        <h3 style="margin-bottom: 0">Read Anytime</h3>

        <p class="muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="thumbnails">
          <li>
            <a class="thumbnail" href="#">
              <img src="http://placehold.it/480x360" style="max-width: none; width: 100%;">
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="span6">
      <div class="landing-portal text-center push30">
        <h3 style="margin-bottom: 0">Read Anywhere</h3>

        <p class="muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <ul class="thumbnails">
          <li>
            <a class="thumbnail" href="#">
              <img src="http://placehold.it/480x360" style="max-width: none; width: 100%;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="hero-unit hero-unit-header push90">
  <div class="container">
    <div class="row landing-callout">
      <div class="span10 offset1 text-center">
        <h2>Why You'll Love It</h2>

        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam
          lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam
          viverra nec consectetur ante hendrerit. Donec et mollis dolor.
          Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam
          tincidunt congue enim, ut porta lorem lacinia consectetur.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container push30">
  <div class="row push30">
    <div class="span12">
      <h2 class="text-center">More Awesome Features</h2>
    </div>
  </div>

  <div class="row push15">
    <div class="span6">
      <div class="row">
        <div class="span2 text-center">
          <ul class="thumbnails">
            <li>
              <img src="http://placehold.it/140x100" style="max-width: none; width: 100%;" />
            </li>
          </ul>
        </div>
        <div class="span4">
          <h4 style="font-weight: 500">Feature</h4>
          <p style="font-size: 16px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec a diam lectus. Sed sit amet ipsum mauris.
          </p>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="row">
        <div class="span2 text-center">
          <ul class="thumbnails">
            <li>
              <img src="http://placehold.it/140x100" style="max-width: none; width: 100%;" />
            </li>
          </ul>
        </div>
        <div class="span4">
          <h4 style="font-weight: 500">Feature</h4>
          <p style="font-size: 16px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec a diam lectus. Sed sit amet ipsum mauris.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row push15">
    <div class="span6">
      <div class="row">
        <div class="span2 text-center">
          <ul class="thumbnails">
            <li>
              <img src="http://placehold.it/140x100" style="max-width: none; width: 100%;" />
            </li>
          </ul>
        </div>
        <div class="span4">
          <h4 style="font-weight: 500">Feature</h4>
          <p style="font-size: 16px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec a diam lectus. Sed sit amet ipsum mauris.
          </p>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="row">
        <div class="span2 text-center">
          <ul class="thumbnails">
            <li>
              <img src="http://placehold.it/140x100" style="max-width: none; width: 100%;" />
            </li>
          </ul>
        </div>
        <div class="span4">
          <h4 style="font-weight: 500">Feature</h4>
          <p style="font-size: 16px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec a diam lectus. Sed sit amet ipsum mauris.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="row">
        <div class="span2 text-center">
          <ul class="thumbnails">
            <li>
              <img src="http://placehold.it/140x100" style="max-width: none; width: 100%;" />
            </li>
          </ul>
        </div>
        <div class="span4">
          <h4 style="font-weight: 500">Feature</h4>
          <p style="font-size: 16px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec a diam lectus. Sed sit amet ipsum mauris.
          </p>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="row">
        <div class="span2 text-center">
          <ul class="thumbnails">
            <li>
              <img src="http://placehold.it/140x100" style="max-width: none; width: 100%;" />
            </li>
          </ul>
        </div>
        <div class="span4">
          <h4 style="font-weight: 500">Feature</h4>
          <p style="font-size: 16px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec a diam lectus. Sed sit amet ipsum mauris.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
